export PYTHONPATH=$(pwd)
echo "PYTHONPATH: $PYTHONPATH"

# Environment variables for basic configurations
echo "Setting configurations based on ComputerName: $HOSTNAME"
case ${HOSTNAME} in
    "scott-ubuntu")
        export PROJECT_PHASES_REPOSITORY_DIRECTORY="/home/scott/Working/project-phases-reports"
        export PROJECT_PHASES_TEST_SNAPSHOT_DIRECTORY="/home/scott/Working/project-phases-reports/tests/projects_snapshot"
        export PROJECT_PHASES_TEST_SNAPSHOT_ORIGINAL_DIRECTORY="/home/scott/Working/project-phases-reports/tests/projects_snapshot_original"
        export PROJECT_PHASES_PROD_PROJECTS_FOLDERS_DIRECTORY="/home/scott/Documents/OneDrive - F5, Inc"
        ;;
    "lambda-dual")
        export PROJECT_PHASES_REPOSITORY_DIRECTORY="/home/scott/Working/project-phases-reports"
        export PROJECT_PHASES_TEST_SNAPSHOT_DIRECTORY="/home/scott/Working/project-phases-reports/tests/projects_snapshot"
        export PROJECT_PHASES_TEST_SNAPSHOT_ORIGINAL_DIRECTORY="/home/scott/Working/project-phases-reports/tests/projects_snapshot_original"
        export PROJECT_PHASES_PROD_PROJECTS_FOLDERS_DIRECTORY="/home/scott/Documents/OneDrive - F5, Inc"
        ;;
    *)
    echo "ERROR: Unknown HOSTNAME: $HOSTNAME"}
        ;;
esac
echo "PROJECT_PHASES_REPOSITORY_DIRECTORY: $PROJECT_PHASES_REPOSITORY_DIRECTORY"
echo "PROJECT_PHASES_TEST_SNAPSHOT_DIRECTORY: $PROJECT_PHASES_TEST_SNAPSHOT_DIRECTORY"
echo "PROJECT_PHASES_TEST_SNAPSHOT_ORIGINAL_DIRECTORY: $PROJECT_PHASES_TEST_SNAPSHOT_ORIGINAL_DIRECTORY"
echo "PROJECT_PHASES_PROD_PROJECTS_FOLDERS_DIRECTORY: $PROJECT_PHASES_PROD_PROJECTS_FOLDERS_DIRECTORY"
